<% include ../partials/header %>

<div id="dodd-home" class="h-100">
    <div class="row justify-content-center h-100">
        <div class="col-12 my-auto">
            <div class="jumbotron">
                <h1 class="display-4">Add a new HRN Number:</h1>
                <hr>
                <p class="lead">This for is development use only.</p>
                <form action="#" method="POST" class="form pad-20">
                    <div class="row justify-content-md-center">
                            <input type="text" class="form-control" placeholder="hrn number input" name="hrnNumber">
                            <input type="text" class="form-control" placeholder="House Number" name="houseNumber">
                            <input type="text" class="form-control" placeholder="Post Code" name="postCode">
                            <button class="btn btn-info btn-sm mg-20">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>