<% include ../partials/header %>

<div class="row">
    <div class="col-12 page-template">
        <div class="row">
            <div class="col-9">
                <h2 class="display-4 align-right" >
                    <%= client.businessName %>
                </h2>
                <hr>
                <p class="lead align-right">
                    Client Portal
                </p>
            </div>
            <div class="col-3">
                <img class="dodd-client-logo" src="/img/client/logo/<%= client.logo %>">
            </div>
        </div>
        <div class="row">
            
        </div>
    </div>
</div>

<% include ../partials/footer %>  