<% include ../partials/header %>

<div class="row">
    <div class="col-12 page-template">
        <div class="row">
            <div class="col-3">
                <img src="/img/client/logo/<%= client.logo %>">
            </div>
            <div class="col-9">
                <h3>
                    <%= client.businessName %>
                </h3>
                <p>
                    
                </p>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>  