<% include ../partials/header %>

<div id="dodd-home" class="h-100">
    <div class="row justify-content-center h-100">
        <div class="col-12 my-auto">
            <div class="jumbotron">
                <form action="#" method="POST" class="form pad-20">
                    <div class="row justify-content-md-center">
                        <div class="col-md-8">
                            <input type="text" class="form-control" placeholder="Contract Seacrh..." name="" id="">
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-info" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>