<% include ../partials/header %>

<form class="form" method="POST" action="/register">
    <input type="text" name="username" placeholder="username" id="username" class="form-control">
    <input type="text" name="firstName" placeholder="First Name" id="firstName" required class="form-control">
    <input type="text" name="surname" placeholder="Surname" id="surname" required class="form-control">
    <input type="text" name="email" placeholder="Email" id="email" class="form-control">
    <input type="password" name="password" id="username" class="form-control">
    <button type="submit">Submit</button>
</form>

<% include ../partials/footer %>