<% include ../../partials/header %>

<div id="dodd-home" class="h-100">
    <div class="row justify-content-center h-100">
        <div class="col-12 my-auto">
            <div class="jumbotron">
                <h1 class="display-4">Add a new FAQ:</h1>
                <hr>
                <p class="lead">This for is development use only.</p>
                <form action="/admin/faq/add" method="POST" class="form pad-20">
                    <div class="row justify-content-md-center">
                        <div class="col-12">
                            <div class="form-group form-row">
                                <label for="faqQ" class="form-label">Question:</label>
                                <input type="text" class="form-control" placeholder="FAQ question..." name="faqQ"
                                    id="faqQ" required>
                            </div>
                            <div class="form-group form-row">
                                <label class="form-label" for="rich-text">Answer:</label>
                                <script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script>
                                <textarea class="form-control" placeholder="Answer to the FAQ question..." id="rich-text"
                                    name="faqA"></textarea>
                            </div>
                            <div class="form-group form-row">
                                <label class="form-label" for="faqV">Video Link</label>
                                <input class="form-control" type="text" placeholder="Video URL: e.g https://www.youtube.com/watch?v=P2vt4YvwOQg" name="video" id="faqV">
                                <small class="form-text text-muted">Please upload your video to YouTube and paste the video URL</small>
                            </div>
                            <button class="btn btn-info btn-sm mg-20" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<% include ../../partials/footer %>