<% include ../../partials/header %>

<div id="dodd-home" class="h-100">
    <div class="row justify-content-center h-100">
        <div class="col-12 my-auto">
            <div class="jumbotron">
                <h1 class="display-4">Edit FAQ:</h1>
                <hr>
                <p class="lead">This for is development use only.</p>
                <form action="/admin/faq/edit/<%= faqE.id %>" method="POST" class="form pad-20">
                    <div class="row justify-content-md-center">
                        <div class="col-12">
                            <div class="form-group form-row">
                                <label for="faqQ" class="form-label">Question:</label>
                                <input type="text" class="form-control" value="<%= faqE.question %>" name="faqQ"
                                    id="faqQ" required>
                            </div>
                            <div class="form-group form-row">
                                <label class="form-label" for="ich-text">Answer:</label>
                                <textarea class="form-control" id="rich-text"
                                    name="faqA"><%= faqE.answer %></textarea>
                            </div>
                            <div class="form-group form-row">
                                <label class="form-label" for="faqV">Video Link</label>
                                <input class="form-control" type="text" value="<%= faqE.video %>" name="faqV" id="faqV">
                            </div>
                            <button class="btn btn-info btn-sm mg-20" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<% include ../../partials/footer %>